

*{
	font-family: 'Arial';
  	margin: 0;
  	padding: 0;
}

body {
  	background: #ecf0f1;
  	color: #8e44ad;
}
/*  
div {
	margin: 0 auto;
	overflow: auto;
}
*/
 
ul {
	list-style-type: none;
}
 
li img {
	float: left;
	margin: 5px;
	border: 3px solid #fff; 
	transition: box-shadow 0.5s ease;
}
 
li img:hover {
	box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
}

label{
	font-size: 18pt;
	margin: 10px;
}

.btnViewMore {
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	background-color:#dfbdfa;
	border-radius:4px;
	border:1px solid #c584f3;
	box-sizing: border-box;
	color:#fff;
	cursor:pointer;
	display:block;
	font-size:18pt;
	font-weight:bold;
	margin: 0 auto;
	padding:16px;
	text-align: center;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
	width: 200px;
}
.btnViewMore:hover {
	background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	background-color:#bc80ea;
}

.center-on-page {
  margin: 10px auto;
  text-align: center;
  width: 50%;
}

.loader {
  background: #fff;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

.loadedContent {
  padding: 8px 100px;
}
